body{
    background-color: #252525;
    font-family: sans-serif;
    font-weight: bold;
}
.contenedor{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    background-color: #ffff;
    border-radius: 10px;
    padding: 2%;
}
.img{
    width: 150px;
    height: 150px;
    display: flex;
}
.events{
    padding-left: 2%;
    padding-right: 2%;
    text-decoration-color: #252525;
}
.events:hover{
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
}
#Fecha{
    width:fit-content;
}
#guion{
    width: fit-content;
    padding-left: 0px;
    padding-right: 10px;
}
#dia{
    width: fit-content;
}
h5{
    width: fit-content;
}
.event_time{
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

.teams{
    width: 100%;
}
.equipos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipo{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    padding-top: 10px;
}
.campeonato{
    border-left: 2px solid;
    border-color: gray;
    background-color: #eae2e2;
    border-radius:10px ;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.imgCampeonato{
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 25px;
}
.tipoCampeonato{
    display: flex;
    align-items: center;
    padding: 8px;
    padding-right: 30%;
}
.tipoCampeonato:hover{
    background-color: rgb(206, 205, 205);
    border-radius: 10px; 
}
.tituloCampeonato{
    padding-left: 8px;

}
.titulo{
    display: flex;
    justify-content: center;
    color:#eae2e2 ;
    margin-top: 15px;
    font-family: sans-serif;
}
button{
    border: none;
    background-color: none;
    padding-right: 30%;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fe0032;
    border-color: black;
    color: #ffff;
}