
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #5fcf80;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #7ed899;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  
  /*------------------------------------------------------------
  
  /**
  * Get Startet Button 
  */
  .get-started-btn {
    
    background: #ffff;
    color: #050505;
    border-radius: 10px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-decoration:none;
  }
  .get-started-btn:hover {
    background: #FE0032;
    color: #fff;
    border:solid 1px #ffff;
  }
  @media (max-width: 768px) {
    .get-started-btn {
      margin: 0 15px 0 0;
      padding: 6px 18px;
    }
  }
 
  
 
  
  /* ----------------------------------------------------- */
  /* Introduciendo boton con nombre del usuario */
  /* ----------------------------------------------------- */
  .desplebutton {
    
    background-color: #FE0032;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  
  .desplegable {
    position: relative;
    display: inline-block;
  }
  
  .options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .options a:hover {background-color: #f1f1f1}
  
  .desplegable:hover .options {
    display: block;
  }
  
  /* .desplegable:hover .desplebutton {
    background-color: #3e8e41;
  } */
  .desplebutton i {
    padding-left: 10px;
  }
  
  .lo{
    letter-spacing: 15px;
  }

*{
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;

}
body{
    height: 100%;
    width: 100%;
    background-color: #FE0032;
}
 /* comienzo del header*/
header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: fixed;z-index: 1;
    top: 0;
    left: 0;
    background-color: #FE0032;

}
.Logo-nombre{
    display: flex;
    align-items: center;
    
}
.Logo-nombre img{
    height: 25px;
    margin-left: 50px;
}
.Menu-header{
    align-items: center;
    max-width: 700px;
    width: 60vw ;
    height: 100%;
    justify-content: center;
}
.Menu{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 20px;
}
.Menu > li{ 
    justify-content: center;
    list-style: none;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    
    
}
.Menu > li a{
    color: #fff;
    text-decoration: none;
    padding: 16px;
    
}
/* fin del header_____________________________________*/

/* comienzo del formulario____________________________*/
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.cont-centreado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    width: 50vw;
    
}
.cont-cabecera{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    min-height:60px ;
    padding-bottom: 15px;
}
.cont-cabecera p{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.cont-texto{
    justify-content: left;
    width: 100%;
    padding-bottom: 20px;
    font-size: 16px;
}
.cont-texto p{
    color: #fff;
    padding-bottom: 10px;
    
}
.cont-texto a{
    text-decoration: none;
    color: #fff;
}
.cont-formulario{
    
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    min-height: 600px;
    flex-direction: column;
    max-width: 800px;
    width: 50vw;
    box-sizing: border-box;
    border-radius: 10px;
}
.cont-formulario label{
    font-size: 16px;
    padding-bottom: 5px;
}
.cont-formulario input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid;
    height: 30px;
    margin-bottom: 20px;
}
.fecha{
    max-width: 150px;
}
.boton{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.cont-formulario button{
    justify-content: center;
    background-color: black;
    color: #fff;
    height: 40px;
    min-width: 150px;
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 650;
}
.cont-formulario p{
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}
/* fin del formulario____________________________*/

/* comienzo del footer____________________________*/
footer{
    background-color: #252525;

}
.menu-footer{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(0.5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 0px 50px;
	background-color: #2B2B2B;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 0px;
}
.menu-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-footer div{
    border-bottom: #fff 2px solid ;
    padding-bottom: 20px;
}
/* este css es del texto y los logos de las redes sociales de la pagina____________________________*/
.texto-footer{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    flex-direction: row;
}
.texto-footer p{
    color: #fff;
    font-size: 9px;
    text-align: left;
    padding-right: 30px;
}
.texto-footer img{
    flex-direction: row;
    height: 30px;
    padding-left: 15px;
}
/* este css es del logo que se muestra al final del footer____________________________*/
.logo-footer{
    padding-left: 50px;
    height: 30px;
    padding-bottom: 50px;
}


.sq2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 60vw;

    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }

.sq{
    background-color: #f1f1f1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    width: 60vw;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.085em;
}

.t{
    text-align: start;
    width: 50vw;
}
main{
    display: flex;
    justify-content: center;
}

.th{
  padding: 20px;
}

.ta{
  padding: 10px 50px;
}

.sub{
  font-size: 20px;
}

.btn-ini{
	display: flex;
	justify-content: center;
	background-color: #2B2B2B;
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  border: solid 1px #2B2B2B;
  transition: ease-out 120ms background-color;
  transition: 120ms;
}
.btn-ini:hover{
  background-color: #fff;
  color: #2B2B2B;
  border: solid 1px #2B2B2B;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 3px;
}
.robotoCon{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.09em;
  font-size: 15px;
}






.contenedor-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.contenedor-btn-file {
  display: inline-block;
  position: relative;
  background-color: #186CC3;
  color: #fff;
  border: 0;
  padding: 12px 20px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
}
.contenedor-btn-file:hover {
  background-color: #16579B;
}
.contenedor-btn-file:active {
  background-color: #114378;
}
.contenedor-btn-file > i {
  margin-right: 15px;
}

.contenedor-btn-file label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}

.contenedor-btn-file.bordeado {
  background-color:#FE0032;
  border: 1px solid #FE0032;
  color: #fff;
}
.contenedor-btn-file.bordeado:hover {
  background-color: #fff;
  color: #FE0032;
}
.bn{
  
  width: 60vw;
  margin-left: 70px;
  
}