body{
    background-color: #252525;
}
.titulo{
    text-align: center;
    
}
.formulario{
    position: center;
    background-color: #ffff;
    border-radius: 8px;
    padding: 4%;
    padding-top: 30px;
    margin: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.login_opt{
    text-align: center;
    border-width: 0;
    background-color: #ffff;
    align-items: center;
}
.btn{
    font-weight: 500;
    border-width: 2px;
}
.submit-btn{
    text-align: center;
}
.form-label{
    font-weight: 500;
}
.link{
    text-align: center;
}
.prefijo{
    padding-right: 20px;
    max-width: 100px; 
    box-sizing: 100px;
}
.input-error{
    color: red;
    font-size: 13px;                            
    display: none;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .input-error-activo{
    display: block;
  }