body{
    background-color: #252525;
}
label{
    font-weight: 640;
    
}
.titulo{
    text-align: center;
}
.form{
    position: center;
    background-color: #ffff;
    border-radius: 8px;
    padding: 4%;
    padding-top: 30px;
    margin: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.submit-btn{
    text-align: center;
}
.btn{
    text-align: center;
    align-items: center;
    
}
.archivo{
    border-radius: 8px;
    background-color: green;
    color: white;
    font-weight: 600;
    border-color:black;
    border-width: 2px;
    padding-left: 6px;
    padding-right: 6px;
    width: 170px;
}
.img_perfil{
    text-align: center!important;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#File01{
    display: none;
}
#foto_perfil{
    text-align: center;
}
#btn-perfil{
    text-align: center;
}
#btn-seleccionarimg{
    text-align: center;
}
.input-error{
    color: red;
    display: none;
    font-weight: 500;
}
.input-error-activo{
    display: block;
}