html, body {
    width: 100%;
    height: 100%;
}

body{
    font-size: 16px;
    background-color: #FE0032;
}

/* -- MENU -- */
header {
    width: 100%;
}

.header--content {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 81em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25em 0.62em;
    list-style: none;
}

.header--content .logo img{
    width: 7.5em;
}

.header--content nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.header--content nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
}
.header--content li a:hover {
    color: blue;
    transition: all .3s;
}

/* -- SLIDER -- */
.contenedor-info{
    font-size: 1rem;
    width: 100%;
    display: flex;
    padding: 0 0.6em;
    max-width: 81em;
    margin-top: 4.37em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14.25em;
    
}

.contenedor-info .jugadores--vector{
    width: 51.62em;
    display: inline-block;
    position: relative;
    top: 14.25em;
    right: 30em;
}

.contenedor-info .slider article .sub-titulo,
.contenedor-info .slider article .titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 9.4em;
    color: white;
    letter-spacing: 0.1em;
}

.contenedor-info .slider article .sub-titulo{
    font-size: 4.7em;
    color: #252525;
    letter-spacing: 0.1em;
}

.contenedor-info .slider article p{
    font-size: 1.5em;
    margin-top: 1.6em;
    max-width: 24em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    line-height: 1.8;
}

.contenedor-info .acctions{
    max-width: 42.5em;
    display: flex;
    justify-content: space-between;
    margin-top: 3.1em;
}

/* Botones */
.btn-link{
    width: 48%;
    font-size: 2.25em;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 0.9em;
    padding: 0.4em 0.2em;
}

.btn-white{
    color: #FE0032;
    border: solid 0.02em black;
    background-color: white;
}

.btn-transparent{
    color: white;
    border: solid 0.02em white;
    background-color: transparent;
}


/* comienzo del footer____________________________*/
footer{
    background-color: #252525;

}
.menu-footer{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(0.5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 0px 50px;
	background-color: #2B2B2B;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 0px;
}
.menu-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-footer div{
    border-bottom: #fff 2px solid ;
    padding-bottom: 20px;
}
/* este css es del texto y los logos de las redes sociales de la pagina____________________________*/
.texto-footer{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
}
.texto-footer p{
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.texto-footer img{
    flex-direction: row;
    height: 30px;
    padding-left: 15px;
    
}
/* este css es del logo que se muestra al final del footer____________________________*/
.logo-footer{
    margin-left: 50px;
    margin-top: 40px;
}