html, body {
    width: 100%;
    height: 100%;
}

body{
    font-size: 16px;
    background-color: #FE0032;
}

/* -- MENU -- */
header {
    width: 100%;
}

.header--content {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 81em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25em 0.62em;
    list-style: none;
}

.header--content .logo img{
    width: 7.5em;
}

.header--content nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.header--content nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
}
.header--content li a:hover {
    color: blue;
    transition: all .3s;
}

/* -- SLIDER -- */
.contenedor-info{
    font-size: 1rem;
    width: 100%;
    display: flex;
    padding: 0 0.6em;
    max-width: 81em;
    margin-top: 4.37em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14.25em;
    
}

.contenedor-info .jugadores--vector{
    width: 51.62em;
    display: inline-block;
    position: relative;
    top: 14.25em;
    right: 20em;
}

.contenedor-info .slider article .sub-titulo,
.contenedor-info .slider article .titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 9.4em;
    color: white;
    letter-spacing: 0.1em;
}

.contenedor-info .slider article .sub-titulo{
    font-size: 4.7em;
    color: #252525;
    letter-spacing: 0.1em;
}

.contenedor-info .slider article p{
    font-size: 1.5em;
    margin-top: 1.6em;
    max-width: 24em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    line-height: 1.8;
}

.contenedor-info .acctions{
    max-width: 42.5em;
    display: flex;
    justify-content: space-between;
    margin-top: 3.1em;
}

/* Botones */
.btn-link{
    width: 48%;
    font-size: 2.25em;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 0.9em;
    padding: 0.4em 0.2em;
}

.btn-white{
    color: #FE0032;
    border: solid 0.02em black;
    background-color: white;
}

.btn-transparent{
    color: white;
    border: solid 0.02em white;
    background-color: transparent;
}


/* -- Footer -- */
footer {
    font-size: 1rem;
    background-color: #252525;
    width: 100%;
    clear: both;
}

.footer--content {
    padding: 3.125em 0 5em 0;
    max-width: 81em;
    margin-left: auto;
    margin-right: auto;
}

.footer--content nav {
    display: flex;
    max-width: 50em;
    justify-content: space-between;
    padding: 0.6em 0 1.87em 0.3em;
}

.footer--content nav a {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.footer--info {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0 0.87em 0;
    color: white;
    border-top: solid 0.06em white;
}

.footer--info article p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
}

.footer--info .social{
    display: flex;
}

.footer--info .social .social-icon{
    display: inline-block;
    margin-left: 1.56em;
}

.footer--content .icon img{
    width: 5.12em;
}


@media only screen and (max-width: 1592px){
    .contenedor-info {
        font-size: 0.8rem;
    }

    .header--content {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
    }
}