*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
 
 }
 body{
     height: 100%;
     width: 100%;
     background-color: #FE0032;
 }
  /* comienzo del header*/
 header{
     display: flex;
     width: 100%;
     height: 50px;
     align-items: center;
     justify-content: space-between;
     position: fixed;z-index: 1;
     top: 0;
     left: 0;
     background-color: #FE0032;
 
 }
 .Logo-nombre{
     display: flex;
     align-items: center;
     
 }
 .Logo-nombre img{
     height: 25px;
     margin-left: 50px;
 }
 .Menu-header{
     align-items: center;
     max-width: 700px;
     width: 60vw ;
     height: 100%;
     justify-content: center;
 }
 .Menu{
     display: flex;
     justify-content: right;
     align-items: center;
     height: 100%;
     width: 100%;
     margin-right: 20px;
 }
 .Menu > li{ 
     justify-content: center;
     list-style: none;
     display: flex;
     height: 100%;
     align-items: center;
     
     
 }
 .Menu > li a{
     color: #fff;
     text-decoration: none;
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 7px;
     padding-right: 7px;
 }
 /* fin del header_____________________________________*/

 /* comienzo del primer formulario ____________________________*/

 .cont-formulario-equi{
    padding: 40px;
     display: flex;
     justify-content: center;
     background-color: #fff;
     min-height: 300px;
     flex-direction: column;
     max-width: 800px;
     width: 50vw;
     box-sizing: border-box;
     border-radius: 10px;
     margin-bottom: 60px;
 }
 .cont-formulario-equi label{
    font-size: 16px;
    padding-bottom: 5px;
}
.cont-formulario-equi input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid;
    height: 30px;
    margin-bottom: 20px;
}
.combo-box{

    border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 2px solid;
     max-width: 200px;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 16px;
}
.subir-imagen p{
    margin-bottom: 20px;
}
.subir-imagen input{
    align-items: center;
    min-width: 200px;
    cursor: pointer;
}
 /* fin del primer formulario _____________________________________*/

 /* comienzo del formulario____________________________*/
 .contenedor{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     padding: 0;
     /*min-width: 100vw;
     min-height: 100vh;--------Esta parte del codigo no funciona pero dejalo asi :) */
     width: 100%;
     height: 100%;
     padding-top: 80px;
     padding-bottom: 60px;
 }
 .cont-centreado{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     max-width: 800px;
     width: 50vw;
     
 }
 .segunda-cabecera{
    margin-bottom: 40px;
 }
 #cabe1 , #cabe2{
     display: flex;
     align-items: center;
     justify-content: left;
     width: 100%;
     min-height:60px ;
     padding-bottom: 15px;
 }
 #cabe1 , #cabe2 p{
     font-size: 40px;
     color: #fff;
     font-weight: bold;
 }
 
 .cont-texto{
     justify-content: left;
     width: 100%;
     padding-bottom: 20px;
     font-size: 16px;
 }
 .cont-texto p{
     color: #fff;
     padding-bottom: 10px;
     
 }
 .cont-texto a{
     text-decoration: none;
     color: #fff;
 }
 .cont-formulario{
     
     padding: 40px;
     display: flex;
     justify-content: center;
     background-color: #fff;
     min-height: 600px;
     flex-direction: column;
     max-width: 800px;
     width: 50vw;
     box-sizing: border-box;
     border-radius: 10px;
 }
 .nombre label{
    display: block;
 }
 .datos{
    display: flex;
    flex-direction: row;
 }
 .datos label{
    display: block;
 }
 .cont-formulario label{
     font-size: 16px;
     padding-bottom: 5px;
 }
 .cont-formulario input{
     border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 2px solid;
     height: 30px;
     margin-bottom: 20px;
 }
 .fecha{
     max-width: 150px;
 }
 .boton{
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }
 .cont-formulario #botongrande{
     justify-content: center;
     background-color: black;
     color: #fff;
     height: 40px;
     min-width: 150px;
     width: 350px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 18px;
     font-weight: 650;
 }
 .cont-formulario p{
     padding-top: 20px;
     justify-content: center;
     text-align: center;
 }

/* Codigo Boton____________________________*/ 
         /* From uiverse.io by @mrhyddenn */
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #FE0032;
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #FE0032;
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
/* fin Codigo Boton____________________________*/

 /* fin del formulario____________________________*/
 
 /* comienzo del footer____________________________*/
 footer{
     background-color: #252525;
 
 }
 .menu-footer{
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(0.5, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
     padding: 0px 50px;
     background-color: #2B2B2B;
     color: #fff;
     padding-top: 40px;
     padding-bottom: 0px;
 }
 .menu-footer a{
     text-decoration: none;
     color: #fff;
     font-size: 16px;
 }
 .menu-footer div{
     border-bottom: #fff 2px solid ;
     padding-bottom: 20px;
 }
 /* este css es del texto y los logos de las redes sociales de la pagina____________________________*/
 .texto-footer{
     display: flex;
     padding-left:50px;
     padding-right: 50px;
     padding-top: 15px;
     flex-direction: row;
 }
 .texto-footer p{
     color: #fff;
     font-size: 9px;
     text-align: left;
     padding-right: 30px;
 }
 .texto-footer img{
     flex-direction: row;
     height: 30px;
     padding-left: 15px;
 }
 /* este css es del logo que se muestra al final del footer____________________________*/
 .logo-footer{
     padding-left: 50px;
     height: 30px;
     padding-bottom: 50px;
 }