*{
   margin: 0;
   padding: 0;
   /* font-family: 'Oswald', sans-serif; */
   
  
   
}
body{
    height: 100%;
    width: 100%;
    background-color: #FE0032;
}
 /* comienzo del header*/
header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: fixed;z-index: 1;
    top: 0;
    left: 0;
    background-color: #FE0032;

}
.Logo-nombre{
    display: flex;
    align-items: center;
    
}
.Logo-nombre img{
    height: 25px;
    margin-left: 50px;
}
.Menu-header{
    align-items: center;
    max-width: 700px;
    width: 60vw ;
    height: 100%;
    justify-content: center;
}
.Menu{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 20px;
}
.Menu > li{ 
    justify-content: center;
    list-style: none;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    
    
}
.Menu > li a{
    color: #fff;
    text-decoration: none;
    padding: 16px;
    
}
/* fin del header_____________________________________*/

/* comienzo del formulario____________________________*/
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.cont-centreado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    width: 50vw;
    
}
.cont-cabecera{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    min-height:60px ;
    padding-bottom: 15px;
}
.cont-cabecera p{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 0.09em;
    
}

.cont-texto{
    justify-content: left;
    width: 100%;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 0.09em;

}
.cont-texto p{
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.085em;
}
.cont-texto a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.085em;
}
.cont-formulario{
    
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    min-height: 600px;
    flex-direction: column;
    max-width: 800px;
    width: 50vw;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.085em;
}
.cont-formulario label{
    font-size: 16px;
    padding-bottom: 5px;
}
.cont-formulario input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid;
    height: 30px;
    margin-bottom: 20px;
}
.fecha{
    max-width: 150px;
}
.boton{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.cont-formulario button{
    justify-content: center;
    background-color: #2B2B2B;
    color: #fff;
    height: 40px;
    min-width: 150px;
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.085em;
}
.cont-formulario p{
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}
/* fin del formulario____________________________*/

/* comienzo del footer____________________________*/
footer{
    background-color: #252525;

}
.menu-footer{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(0.5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 0px 50px;
	background-color: #2B2B2B;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 0px;
}
.menu-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-footer div{
    border-bottom: #fff 2px solid ;
    padding-bottom: 20px;
}
/* este css es del texto y los logos de las redes sociales de la pagina____________________________*/
.texto-footer{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
}
.texto-footer p{
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.texto-footer img{
    flex-direction: row;
    height: 30px;
    padding-left: 15px;
    
}
/* este css es del logo que se muestra al final del footer____________________________*/
.logo-footer{
    padding-left: 50px;
    height: 30px;
    padding-bottom: 50px;
    margin-top: 40px;
}