body{
    background-color: #FE0032;
}


/* -- MENU -- */
/* header {
    width: 100%;
}

.header--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.header--content .logo img{
    width: 120px;
}

.header--content nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.header--content nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: normal;
} */


/* -- SLIDER -- */
.contenedor-info{
    width: 100%;
    display: flex;
    padding: 0px 10px;
    max-width: 1300px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 228px;
}

.contenedor-info .jugadores--vector{
    display: inline-block;
    position: relative;
    top: 228px;
    right: 320px;
}

.contenedor-info .slider article .sub-titulo,
.contenedor-info .slider article .titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 150px;
    color: white;
    letter-spacing: 13px;
}

.contenedor-info .slider article .sub-titulo{
    font-size: 75px;
    color: #252525;
    letter-spacing: 8px;
}

.contenedor-info .slider article p{
    margin-top: 40px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    line-height: 1.8;
}

.contenedor-info .acctions{
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* Botones */
.btn-link{
    width: 48%;
    font-size: 36px;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 14px 10px;
}

.btn-white{
    color: #FE0032;
    border: solid 1px black;
    background-color: white;
}

.btn-transparent{
    color: white;
    border: solid 1px white;
    background-color: transparent;
}


/* comienzo del footer____________________________*/
footer{
    background-color: #FE0032;

}
.menu-footer{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(0.5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 0px 50px;
	background-color: #FE0032;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 0px;
}
.menu-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-footer div{
    border-bottom: #fff 2px solid ;
    padding-bottom: 20px;
}
/* este css es del texto y los logos de las redes sociales de la pagina____________________________*/
.texto-footer{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.texto-footer p{
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
}
.texto-footer img{
    flex-direction: row;
    height: 30px;
    padding-left: 15px;
    
}
/* este css es del logo que se muestra al final del footer____________________________*/
.logo-footer{
    padding-left: 50px;
    /* height: 30px; */
    padding-bottom: 35px;
    margin-top: 30px;
}
