body{
    background-color: #252525;
}
.contenedor{
    background-color: #ffff;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 20px;

}
.titulo{
    color: #ffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo_evento{
    display: block;
    width: 200px;
    height: 200px;
}
.campeonatos{
    margin-right: 10px;
    margin-left: 15px;
}
.tarjeta{
    margin-right: 20px;
    margin-left: 20px;
}
.tarjeta:hover{
    background-color: #dad7d7;
    border-radius: 15px
}
.titulo2{
    color: black;
    margin-bottom: 30px;
    padding-top: 15px;
}
.detalle{
    margin-top: 20px;
    text-align: center;
}
label{
    margin-left: 30px;
}
.contenedorT{
    padding-left: 30px;
    padding-right: 30px;
}
th{
    color: #252525;
}
a{
    color: black;
    text-decoration: none;
}
.logoLista{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
/* Se agrega un margin a la clase container */
.container{
    margin-top: 80px;
  }


/*-------------ESTILOS DE LAS TARJETAS DE LOS JUGADORES------------*/
.tarjetasTitulo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.tarjetasTitulo p{
    font-size: 32px;
    color: #fff;
    margin-bottom: 0;
}
.tarjetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 70px;
    padding-top: 40px;
}

.jugador{
    padding: 20px;
    display: flex;
    background-color: #ffff;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px
    
}
.jugador p{
    margin-bottom: 0;
    margin-top: 10px;
}
.tarjetas img{
    width: 100%;
    margin-bottom: 10px;
}